<div class="user-cart">
  <img
    [src]="'http://localhost:1337' + product.img[0].url"
    alt="product-img"
    class="product-img"
  />
  <p class="product-name">
    {{ product.name }}
  </p>
  <button mat-icon-button color="warn" class="btn" (click)="decrementClick.emit()">
    <mat-icon>remove</mat-icon>
  </button>
  
  <p 
    *ngIf="!isEdit; else quantityForm" 
    (click)="isEdit=!isEdit" 
    class="product-price">
    {{itemQuantity}}
  </p>
  <ng-template #quantityForm>
    <mat-form-field class="quantity-input">
      <mat-label>Quantity</mat-label>
      <input 
        matInput 
        type="text"  
        [(ngModel)]="itemQuantity"
        (blur)="changeQuantity()"
        appAutoFocus>
    </mat-form-field>
  </ng-template>


  <button mat-icon-button color="warn" class="btn" (click)="incrementClick.emit()">
    <mat-icon>add</mat-icon>
  </button>
  <p class="product-price">x {{ product.price * itemQuantity }} $</p>
</div>