.user-cart {
  margin: 10px;
  display: flex;
  align-items: center;


  .product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
  }

  .product-name {
    font-size: 18px;
    flex-grow: 1;
    margin: 0;
  }

  .product-price {
    padding: 0 10px;
    margin: 0;
  }

  .quantity-input {
    max-width: 60px;
  }
}