<mat-sidenav-container class="container">
  <mat-sidenav opened mode="side">
      <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>

  <div *ngIf = "!filteredProducts; else filteredLayout">
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-card [product]="product" [user]="user"></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ng-template #filteredLayout>
      <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let product of filteredProducts">
        <app-product-card [product]="product" [user]="user"></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</mat-sidenav-container>
