<mat-card class="product-card">
  <mat-card-header class="card-header">
    <mat-card-title class="product-title">{{ product.name }}</mat-card-title>
    <h3 class="product-rating" *ngIf="product.rating">
      {{ product.rating }}
    </h3>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="product-img-wrapper">
    <img
      mat-card-image
      [src]="'http://localhost:1337' + product.img[0].url"
      alt="product-img"
      class="product-img"
    />
  </div>
  <div class="chips-wrapper">
    <mat-chip-list>
      <mat-chip *ngFor="let category of product.categories">
        <small>{{ category.name }}</small>
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-card-content>
    <p class="product-desc">
      {{ product.description }}
    </p>
    <h2>{{ product.price }} $</h2>

    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions *ngIf="user">
    <button mat-raised-button color="primary" class="btn">
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
