<div class="container-sm">
  <h1 class="checkout-title">Checkout</h1>
  <div class="grid-container">
    <div class="shipping-details">
      <h3>SHIPPING DETAILS</h3>
      <mat-divider></mat-divider>

      <div class="user-details">
        <mat-radio-group [(ngModel)]="selectedAddress">
          <mat-radio-button *ngFor="let address of userAddresses" [value]="address.id">
            <p>{{address.name}}</p>
            <p>{{address.streetName}} {{address.suite}} {{address.city}} {{address.country}}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="payment-details">
        <h3>PAYMENT DETAILS</h3>
        <mat-divider></mat-divider>
        <div class="form-wrapper">
          <form (submit)="purchase()">
            <mat-form-field class="full-width">
              <mat-label>Name on Card</mat-label>
              <input [(ngModel)]="cardName" name="cardName" matInput type="text" />
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Credit Card Number</mat-label>
              <input [(ngModel)]="cardNumber" name="cardNumber" matInput type="text">
              <mat-icon matSuffix>credit_card</mat-icon>
            </mat-form-field>

            <div class="half-input-wrapper">
              <mat-form-field class="half-width">
                <mat-label>Exp. Date</mat-label>
                <input [(ngModel)]="expDate" name="expDate" matInput text="text">
                <mat-icon matSuffix>event</mat-icon>
              </mat-form-field>
  
              <mat-form-field class="half-width">
                <mat-label>CVC</mat-label>
                <input [(ngModel)]="cvc" name="cvc" matInput text="text">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>

            <button mat-flat-button color="primary" class="btn">PURCHASE</button>
          </form>
        </div>
      </div>
    </div>
    <div class="order-details">
      <app-cart></app-cart>
    </div>
  </div>
</div>
