.checkout-title {
  font-size: 28px;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: 100px;
  margin-top: 30px;

  .user-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px;
    line-height: 11px;
  }

  .form-wrapper {
    padding: 20px;

    .form-control {
      margin-bottom: 20px;

      label {
        font-size: 12px;
        font-weight: 300;
        display: block;
      }

      .form-input {
        width: 100%;
        padding: 10px 0;
      }
    }

    .form-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form-input-sm {
        padding: 10px;
        width: 200px;
      }
    }

    .btn {
        width: 100%;
    }
  }
}
