<div class="container grid-container" *ngIf="user">
  <mat-card class="profile-card">
    <mat-card-header class="header">
      <mat-card-title>
        YOUR PROFILE
      </mat-card-title>
      <mat-divider></mat-divider>
      <img [src]="user.avatarUrl" alt="avatar" class="avatar-lg" />
    </mat-card-header>

    <mat-card-content>
      <div class="box">
        <div class="box-title">
          <h3>Username</h3>
        </div>
        <div class="box-content">
          <p>{{ user.username }}</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Full Name</h3>
        </div>
        <div class="box-content">
          <p>{{ user.fullname }}</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Email</h3>
        </div>
        <div class="box-content">
          <p>{{ user.email }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="primary" class="btn">
        Edit Profile
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="address-card" *ngIf="userAddresses">
    <mat-card-header class="header">
      <mat-card-title>
        Addresses
      </mat-card-title>
      <mat-divider></mat-divider>
    </mat-card-header>

    <mat-card-actions class="card-actions">
      <button mat-flat-button color="primary" class="btn" (click)="openAddressDialog()">
        Add Addreess
      </button>
    </mat-card-actions>

    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let userAddress of userAddresses">
          <mat-expansion-panel-header>
            <mat-panel-title>{{userAddress.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            {{userAddress.streetName}} {{userAddress.suite}} {{userAddress.city}}/{{userAddress.country}}
          </p>
          <mat-action-row>
            <button 
              mat-button 
              color="warn" 
              class="btn" 
              (click)="deleteAddress(userAddress.id)">
              Delete
            </button>
            <button 
              mat-button 
              color="primary" 
              class="btn" 
              (click)="openAddressDialog(userAddress)">
              Edit Address
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      
    </mat-card-content>
  </mat-card>
</div>
