<div class="card">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p class="form-error" *ngIf="errorMsg">{{errorMsg}}</p>
    <div class="form-control">
      <label for="identifier">
        Email or Username
        <input
          type="text"
          name="identifier"
          id="identifier"
          formControlName="identifier"
        />
        <!-- <div *ngIf="identifierErrors">

          <small *ngIf="identifierErrors.required">
            {{identifierErrors.required}}
          </small>

          <small *ngIf="identifierErrors.minLength">
            {{identifierErrors.minLength}}
          </small>

        </div> -->
      </label>
    </div>

    <div class="form-control">
      <label for="password">
        Password
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </label>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" class="btn" type="submit" [disabled] = "isLoading"> {{isLoading ? 'Loading...' : 'Login'}} </button>
    </div>
  </form>
</div>
