html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.card {
  max-width: 400px;
}
